---
title: {{ item }}
---

![](../assets/images/favicon.ico) [Home](../index.md)

# Artists that start with {{ item }}

{% set filtered_song_list = songs.list | selectattr('Artist', 'match', ( '^(' ~ item ~ '|' ~ ( item | lower ) ~ ')' ) ) | list %}
{% for artist in filtered_song_list | map(attribute='Artist') | unique | list | sort(case_sensitive=False) %}
### <span>{{ artist }}</span>

{% for title in filtered_song_list | selectattr('Artist', 'equalto', artist) | map(attribute='Title') | unique | list | sort(case_sensitive=False) %}
* <span>{{ title }}</span>
{% endfor %}

{% endfor %}