# Example Static Song Book

> Songs from KaraFun [song list](https://www.karafun.com/karaoke-song-list.html)

The goal of this project is to provide a simple way for KJs to host their own songbooks through GitLab pages.

## Browse by Artists

{% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
* [{{ letter }}](./Artists/{{ letter }}.md)
{% endfor %}
* [Other](./Artists/Other.md)

## Browse by Song Titles

{% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
* [{{ letter }}](./Titles/{{ letter }}.md)
{% endfor %}
* [Other](./Titles/Other.md)