---
title: {{ item }}
---

![](../assets/images/favicon.ico) [Home](../index.md)

# Songs that start with {{ item }}

{% set filtered_song_list = songs.list | selectattr('Title', 'match', ( '^(' ~ item ~ '|' ~ ( item | lower ) ~ ')' ) ) | list | sort(attribute='Title', case_sensitive=False) %}
{% for song in filtered_song_list %}
### <span>{{ song.Title }}</span>

* by <span>{{ song.Artist }}</span>
{% endfor %}
