---
title: Other
---

![](../assets/images/favicon.ico) [Home](../index.md)

# Songs that don't start with a letter

{% set filtered_song_list = songs.list | selectattr('Title', 'match', '^(?![a-zA-Z])') | list | sort(attribute='Title', case_sensitive=False) %}
{% for song in filtered_song_list %}
### <span>{{ song.Title }}</span>

* by <span>{{ song.Artist }}</span>
{% endfor %}
